.footer{
    display: flex;
    margin-top: auto;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.footer>span{
    color: #eee;
    border: 1px solid #eee;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

@media only screen and (max-width: 920px){
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: initial;
        margin-bottom: 2rem;
    }
    .footer:nth-child(3){
        margin-right: 0;
    }
}